# Log level
APP_LOG_LEVEL="INFO"

# Passphrase of the client (payer) Keeta account
CLIENT_PASSPHRASE=""

# Public key of the resource server Keeta account
SERVER_ADDRESS=""

# Passphrase of the facilitator (fee payer) Keeta account
FACILITATOR_PASSPHRASE=""

# URL of the facilitator (used by server)
FACILITATOR_URL=http://localhost:4022
