# Passphrase of the client (payer) Keeta account
CLIENT_PASSPHRASE=""

# Public key of the resource server Keeta account
SERVER_ADDRESS=""

# Passphrase of the facilitator (fee payer) Keeta account
FACILITATOR_PASSPHRASE=""

# Whether the facilitator should sponsor fees
FACILITATOR_SPONSOR_FEES=true
